h1 {
color: black;
text-align: center;
font-family: Arial;
background: gray;

}

p {
    color: white;
    text
    margin-left: 20px;
}
html {
    background-color: black;
}

a {
    color:aquamarine
}

ul {
    color: white;
}

img {
    al
}